<h1>タスク一覧</h1>
<% @tasks.each do |task| %>
  <li><%= task.name %> | <%= task.body %> <%= link_to "編集", edit_task_path(task) %> <%= link_to "削除", task_path(task), method: :delete %></li>
<% end %>

<%= form_for @task do |f| %>
  <p>
    名前 : <%= f.text_field :name %>
    内容 : <%= f.text_field :body %>
    <%= f.submit %>
  </p>
<% end %>
